/* Core.module.css */

/* Core Title */
.core_title {
  font-family: "Playball", cursive;
  font-weight: normal;
  text-align: center;
  color: #3498db; /* Accent color */
}

/* Sign-up Section */
.core_signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Text Link */
.core_text {
  color: #3498db; /* Accent color */
  text-align: center;
  cursor: pointer;
}

/* Header */
.core_header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

/* Button Container */
.core_buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Generic Button Styles */
.core_button {
  background-color: rgba(52, 152, 219, 0.8); /* Accent color with transparency */
  color: #fff;
  padding: 12px 24px; /* 調整されたパディング */
  border: none;
  border-radius: 8px;
  font-size: 16px; /* 調整されたフォントサイズ */
  cursor: pointer;
  margin: 0 8px; /* 調整されたマージン */
  transition: background-color 0.3s ease;
}

.core_button:hover {
  background-color: rgba(33, 125, 187, 0.8); /* Darker shade with transparency for hover */
}

/* Logout Section */
.core_logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Posts Section */
.core_posts {
  padding: 20px;
}

/* Loading Spinner */
.core_progress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  color: #3498db; /* Accent color */
}
